# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

export PATH=$HOME/.cargo/bin:$HOME/bin:$PATH

if [[ $(whoami) = 'maria' ]]; then
	if [[ -f /envcomm/profile.maria ]]; then
		source /envcomm/profile.maria
	fi	
fi

# eza aliases
alias ls="eza --icons -h --git --time-style long-iso "
alias l="ls -laaF"
alias la="ls -lAF"
alias ll="ls -lgF"
alias lsa="ls -laaF"

{{- if eq .chezmoi.hostname "dhlee-proxmox" }}
source ~/.bashrc_debian
{{- end}}

# bat(cat) aliases
alias cat="batcat"

# for sdkman
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# oh-my-posh
eval "$(oh-my-posh init bash --config 'agnoster')"
