# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$HOME/bin:$PATH

if [[ $(whoami) = 'maria' ]]; then
	if [[ -f /envcomm/profile.maria ]]; then
		source /envcomm/profile.maria
	fi	
fi

# eza aliases
alias ls="eza --icons -h --git --time-style long-iso "
alias l="ls -laaF"
alias la="ls -lAF"
alias ll="ls -lgF"
alias lsa="ls -laaF"

{{/* for ubuntu and debian */}}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

alias cat="batcat"

{{/* for rocky linux and oracle linux */}}
{{ else if or (eq .chezmoi.osRelease.id "rocky") (eq .chezmoi.osRelease.id "ol") }}

alias cat="bat"

{{ end -}}


# for sdkman
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# starship
eval "$(starship init bash)"
