# eza aliases
alias ls="eza --icons -h --git --time-style long-iso "
alias l="ls -laaF"
alias la="ls -lAF"
alias ll="ls -lgF"
alias lsa="ls -laaF"

{{/* for ubuntu and debian */}}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

alias cat="batcat"

{{/* for rocky linux and oracle linux */}}
{{ else if or (eq .chezmoi.osRelease.id "rocky") (eq .chezmoi.osRelease.id "ol") }}

alias cat="bat"

{{ end -}}

# llm-playground aliases
alias llm-playground="ssh -i ~/.ssh/llm-playground-dhlee.pem dhlee@llm-playground"
