# eza aliases
alias ls="eza --icons -h --git --time-style long-iso "
alias l="ls -laaF"
alias la="ls -lAF"
alias ll="ls -lgF"
alias lsa="ls -laaF"

{{/* for ubuntu and debian */}}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

alias cat="batcat"

{{/* for rocky linux and oracle linux */}}
{{ else if or (eq .chezmoi.osRelease.id "rocky") (eq .chezmoi.osRelease.id "ol") }}

alias cat="bat"

{{ end -}}

{{ if eq .chezmoi.hostname "karoness-gram" }}

alias pg14-start="docker start test-postgres-14"
alias pg14="docker exec -it test-postgres-14 psql -h test-postgres-14 -U postgres -E"

{{ end - }}

# llm-playground aliases
alias llm-playground="ssh -i ~/.ssh/llm-playground-dhlee.pem dhlee@llm-playground"
