# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$HOME/bin:$PATH

if [[ $(whoami) = 'maria' ]]; then
	if [[ -f /envcomm/profile.maria ]]; then
		source /envcomm/profile.maria
	fi	
fi

# aliases
source ~/.aliases

# starship
eval "$(starship init bash)"
