{{ if eq .chezmoi.os "Linux" }}
#!/bin/sh
# install uv
curl -LsSf https://astral.sh/uv/install.sh | sh

# install starship
curl -sS https://starship.rs/install.sh | sh

# install rust and cargo
curl https://sh.rustup.rs -sSf | sh

# install eza
cargo install eza

# install bat
cargo install --locked bat

{{/* for ubuntu and debian */}}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}

# install neovim build prerequisites
sudo apt install -y ninja-build gettext cmake curl build-essential 

{{/* for rocky linux and oracle linux */}}
{{ else if or (eq .chezmoi.osRelease.id "rocky") (eq .chezmoi.osRelease.id "ol") }}

# install neovim build prerequisites
sudo dnf -y install ninja-build cmake gcc make gettext curl glibc-gconv-extra

{{ end -}}

# install neovim
git clone https://github.com/neovim/neovim
git checkout stable
cd neovim
make CMAKE_BUILD_TYPE=RelWithDebInfo
sudo make install

# install AstroNvim
cd $HOME
git clone --depth 1 https://github.com/AstroNvim/template ~/.config/nvim
rm -rf ~/.config/nvim/.git
nvim

{{ end -}}
